.login{
  background-color: navy;
}
.header-link{
 text-decoration: none;
 color: #fff;
 display: inline-block;
}
.header-link:hover{
  color: #fff;
} 
.google-captch{
  display: inline-block;
}
.spinner-style{
  margin-top: 30vh;
  margin-left: 40%;
  width: 200px;
  height: 200px;
}